.timer {
  background-color: #c082ff;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer h1 {
  font-family: "Helvetica";
  font-size: 7rem;
  color: 000000;
}
