.navbar ul {
  display: table;
  text-align: center;
  align-items: center;
  border-radius: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #283254;
}

.navbar li {
  float: left;
  width: 356px;
}

.navbar a {
  display: block;
  padding: 14px 62.9px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #141b31;
}

img {
  width: 42%;
  height: auto;
}
