.form {
  display: flex;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-radius: 100px;
  background-color: #283254;
}
